services:
    frontend:
        expose:
            - "3000"
        build:
            context: ./frontend
            dockerfile: Dockerfile
            args:
                NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY: ${NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY}
                NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
                NEXT_PUBLIC_BACKEND_ORIGIN: ${NEXT_PUBLIC_BACKEND_ORIGIN}
                API_INTERNAL_URL: ${API_INTERNAL_URL}
        container_name: frontend
        environment:
            - NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=${NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY}
            - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL}
            - NEXT_PUBLIC_BACKEND_ORIGIN=${NEXT_PUBLIC_BACKEND_ORIGIN}
            - API_INTERNAL_URL=${API_INTERNAL_URL}
        restart: unless-stopped
    caddy:
        image: caddy:2-alpine
        container_name: caddy
        restart: unless-stopped
        ports:
        - "8443:8443"
        volumes:
        - ./caddy/Caddyfile:/etc/caddy/Caddyfile
        - caddy_data:/data
        - caddy_config:/config
        depends_on:
        - api-gateway
        - frontend

volumes:
    caddy_data:
    caddy_config:
