services:
    # Zookeeper: trình quản lý cho Kafka
    rabbitmq:
        image: 'rabbitmq:3-management'
        environment:
            - RABBITMQ_DEFAULT_USER=${RABBITMQ_DEFAULT_USER}
            - RABBITMQ_DEFAULT_PASS=${RABBITMQ_DEFAULT_PASS}
        healthcheck:
            test: ['CMD', 'rabbitmqctl', 'status']
            interval: 10s
            timeout: 5s
            retries: 5
            start_period: 10s
    redis:
        image: 'redis:7-alpine'
        container_name: redis
        environment:
            - REDIS_PASSWORD=${REDIS_PASSWORD}
        command: sh -c "redis-server --requirepass $$REDIS_PASSWORD"
        healthcheck:
            test: ['CMD', 'redis-cli', 'ping']
            interval: 10s # Check mỗi 10s
            timeout: 3s # Không response sau 3s thì timeout
            retries: 5 # Thử lại 5 lần trước khi mark là unhealthy
            start_period: 10s # Cho 10s bắt đầu trước khi healthcheck
    db:
        image: 'mysql:8.0'
        container_name: mysql_container
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
        volumes:
            - mysql_data:/var/lib/mysql
            - ./backend/main.sql:/docker-entrypoint-initdb.d/01-main.sql
            - ./backend/seed-data.sql:/docker-entrypoint-initdb.d/02-seed-data.sql
        healthcheck:
            test: ['CMD', 'mysqladmin', 'ping', '-h', 'db', '-u', 'root', '-p${DB_PASSWORD}']
            interval: 10s
            timeout: 5s
            retries: 10
            start_period: 60s

    mongodb:
        image: mongo:6.0
        container_name: mongodb
        volumes:
            - mongodb_data:/data/db
            - ./backend/seed-mongodb.js:/docker-entrypoint-initdb.d/seed-mongodb.js
        healthcheck:
            test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
            interval: 10s
            timeout: 5s
            retries: 5
            start_period: 30s

    service-discovery:
        build:
            context: ./backend
            dockerfile: ./service-discovery/Dockerfile
            args:
                MODULE_PATH: service-discovery
        environment:
            - ZIPKIN_ENDPOINT=${ZIPKIN_ENDPOINT}
            - EUREKA_HOST_NAME=${EUREKA_HOST_NAME}
            - PORT=${SERVICE_DISCOVERY_PORT}
        healthcheck:
            test: ['CMD-SHELL', 'curl -f http://localhost:8761/actuator/health | grep UP || exit 1']
            interval: 10s
            timeout: 10s
            retries: 10
            start_period: 60s
    zipkin:
        image: openzipkin/zipkin
        ports:
            - '9411:9411'
    api-gateway:
        build:
            context: ./backend
            dockerfile: ./api-gateway/Dockerfile
            args:
                MODULE_PATH: api-gateway
        ports:
            - '8080:8080'
        environment:
            - JWT_SECRETKEY=${JWT_SECRETKEY}
            - ZIPKIN_ENDPOINT=${ZIPKIN_ENDPOINT}
            - EUREKA_SERVER_URL=${EUREKA_SERVER_URL}
            - EUREKA_SERVER_URI=${EUREKA_SERVER_URI}
            - PORT=${API_GATEWAY_PORT}
            - REDIS_HOST=${REDIS_HOST}
            - REDIS_PORT=${REDIS_PORT}
            - REDIS_PASSWORD=${REDIS_PASSWORD}
            - REDIS_SSL=${REDIS_SSL}
            - TZ=${ENV_TZ}
            - OTT_SECRETKEY=${OTT_SECRETKEY}

        depends_on:
            service-discovery:
                condition: service_started
    user-service:
        build:
            context: ./backend
            dockerfile: ./user-service/Dockerfile
            args:
                MODULE_PATH: user-service
        environment:
            - USER_SERVICE_DB_URL=${USER_SERVICE_DB_URL}
            - USER_SERVICE_DB_USER=${USER_SERVICE_DB_USER}
            - USER_SERVICE_DB_PASSWORD=${USER_SERVICE_DB_PASSWORD}
            - JWT_SECRETKEY=${JWT_SECRETKEY}
            - ZIPKIN_ENDPOINT=${ZIPKIN_ENDPOINT}
            - EUREKA_SERVER_URL=${EUREKA_SERVER_URL}
            - EUREKA_SERVER_URI=${EUREKA_SERVER_URI}
            - PORT=${USER_PORT}
            - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
            - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
            - RABBITMQ_USERNAME=${RABBITMQ_DEFAULT_USER}
            - RABBITMQ_PASSWORD=${RABBITMQ_DEFAULT_PASS}
            - RABBITMQ_HOST=${RABBITMQ_HOST}
            - RABBITMQ_PORT=${RABBITMQ_PORT}
            - OTT_SECRETKEY=${OTT_SECRETKEY}
        depends_on:
            db:
                condition: service_healthy
            service-discovery:
                condition: service_started
    notification-service:
        build:
            context: ./backend
            dockerfile: ./notification-service/Dockerfile
            args:
                MODULE_PATH: notification-service
        environment:
            - PASSWORD=${PASSWORD}
            - ZIPKIN_ENDPOINT=${ZIPKIN_ENDPOINT}
            - EUREKA_SERVER_URL=${EUREKA_SERVER_URL}
            - PORT=${NOTIFICATION_PORT}
            - URL=${URL}
            - RABBITMQ_USERNAME=${RABBITMQ_DEFAULT_USER}
            - RABBITMQ_PASSWORD=${RABBITMQ_DEFAULT_PASS}
            - RABBITMQ_HOST=${RABBITMQ_HOST}
            - RABBITMQ_PORT=${RABBITMQ_PORT}
        depends_on:
            service-discovery:
                condition: service_started
    chat-service:
        build:
            context: ./backend
            dockerfile: ./chat-service/Dockerfile
            args:
                - MODULE_PATH=chat-service
        environment:
            - PORT=${CHAT_PORT}
            - EUREKA_SERVER_URL=${EUREKA_SERVER_URL}
            - ZIPKIN_ENDPOINT=${ZIPKIN_ENDPOINT}
            - REDIS_HOST=${REDIS_HOST}
            - REDIS_PORT=${REDIS_PORT}
            - REDIS_PASSWORD=${REDIS_PASSWORD}
            - REDIS_SSL=${REDIS_SSL}
            - CHAT_SERVICE_DB_URL=${CHAT_SERVICE_DB_URL}
            - CHAT_SERVICE_DB_USER=${CHAT_SERVICE_DB_USER}
            - CHAT_SERVICE_DB_PASSWORD=${CHAT_SERVICE_DB_PASSWORD}
        depends_on:
            db:
                condition: service_healthy
            service-discovery:
                condition: service_started
            redis:
                condition: service_healthy
    restaurant-service:
        build:
            context: ./backend
            dockerfile: ./restaurant-service/Dockerfile
            args:
                - MODULE_PATH=restaurant-service
        environment:
            - PORT=${RESTAURANT_PORT}
            - EUREKA_SERVER_URL=${EUREKA_SERVER_URL}
            - ZIPKIN_ENDPOINT=${ZIPKIN_ENDPOINT}
            - RESTAURANT_SERVICE_DB_URL=${RESTAURANT_SERVICE_DB_URL}
            - RESTAURANT_SERVICE_DB_USER=${RESTAURANT_SERVICE_DB_USER}
            - RESTAURANT_SERVICE_DB_PASSWORD=${RESTAURANT_SERVICE_DB_PASSWORD}
            - CLOUDINARY_CLOUD_NAME=${CLOUDINARY_CLOUD_NAME}
            - CLOUDINARY_API_KEY=${CLOUDINARY_API_KEY}
            - CLOUDINARY_API_SECRET=${CLOUDINARY_API_SECRET}
            - OPENROUTESERVICE_URL=${OPENROUTESERVICE_URL}
            - OPENROUTESERVICE_LIST_URL=${OPENROUTESERVICE_LIST_URL}
            - OPENROUTESERVICE_API_KEY=${OPENROUTESERVICE_API_KEY}
            - TZ=${ENV_TZ}
        depends_on:
            db:
                condition: service_healthy
            service-discovery:
                condition: service_started

    order-service:
        build:
            context: ./backend/order-service # build context là folder chứa package.json
            dockerfile: Dockerfile
            args:
                - MODULE_PATH=order-service
        environment:
            - ORDER_PORT=${ORDER_PORT}
            - ORDER_SERVICE_DB_URL=${ORDER_SERVICE_DB_URL}
            - USER_SERVICE_URL=${USER_SERVICE_URL}
            - RESTAURANT_SERVICE_URL=${RESTAURANT_SERVICE_URL}
            - PAYMENT_SERVICE_URL=${PAYMENT_SERVICE_URL}
            - ORDER_SERVICE_URL=${ORDER_SERVICE_URL}
            - FRONTEND_URL=${FRONTEND_URL}
            - EUREKA_HOST=${EUREKA_HOST_NAME}
            - EUREKA_PORT=${SERVICE_DISCOVERY_PORT}
            - EUREKA_INSTANCE_HOSTNAME=order-service
            - RABBITMQ_HOST=${RABBITMQ_HOST}
            - RABBITMQ_PORT=${RABBITMQ_PORT}
            - RABBITMQ_USER=${RABBITMQ_DEFAULT_USER}
            - RABBITMQ_PASSWORD=${RABBITMQ_DEFAULT_PASS}
            - REDIS_HOST=${REDIS_HOST}
            - REDIS_PORT=${REDIS_PORT}
            - REDIS_PASSWORD=${REDIS_PASSWORD}
            - TZ=${ENV_TZ}
        depends_on:
            mongodb:
                condition: service_healthy
            redis:
                condition: service_healthy
            rabbitmq:
                condition: service_healthy
            service-discovery:
                condition: service_healthy
        restart: unless-stopped

    payment-service:
        build:
            context: ./backend/payment-service
            dockerfile: Dockerfile
            args:
                - MODULE_PATH=payment-service
        environment:
            - PAYMENT_PORT=8080
            - PAYMENT_SERVICE_DB_URL=${PAYMENT_SERVICE_DB_URL}
            - STRIPE_SECRET_KEY=${STRIPE_SECRET_KEY}
            - STRIPE_WEBHOOK_SECRET=${STRIPE_WEBHOOK_SECRET}
            - WALLET_INTERNAL_KEY=${WALLET_INTERNAL_KEY}
            - JWT_SECRET=${JWT_SECRETKEY}
            - ORDER_SERVICE_URL=${ORDER_SERVICE_URL}
            - PAYMENT_SERVICE_URL=${PAYMENT_SERVICE_URL}
            - EUREKA_HOST=${EUREKA_HOST_NAME}
            - EUREKA_PORT=${SERVICE_DISCOVERY_PORT}
            - EUREKA_INSTANCE_HOSTNAME=payment-service
            - RABBITMQ_HOST=${RABBITMQ_HOST}
            - RABBITMQ_PORT=${RABBITMQ_PORT}
            - RABBITMQ_USER=${RABBITMQ_DEFAULT_USER}
            - RABBITMQ_PASSWORD=${RABBITMQ_DEFAULT_PASS}
            - TZ=${ENV_TZ}
        depends_on:
            db:
                condition: service_healthy
            rabbitmq:
                condition: service_healthy
            service-discovery:
                condition: service_healthy
        restart: unless-stopped

    blog-service:
        build:
            context: ./backend/blog-service
            dockerfile: Dockerfile
            args:
                - MODULE_PATH=blog-service
        environment:
            - BLOG_PORT=${BLOG_PORT}
            - BLOG_SERVICE_DB_URL=${BLOG_SERVICE_DB_URL}
            - CLOUDINARY_CLOUD_NAME=${CLOUDINARY_CLOUD_NAME}
            - CLOUDINARY_API_KEY=${CLOUDINARY_API_KEY}
            - CLOUDINARY_API_SECRET=${CLOUDINARY_API_SECRET}
            - EUREKA_HOST=${EUREKA_HOST_NAME}
            - EUREKA_PORT=${SERVICE_DISCOVERY_PORT}
            - EUREKA_INSTANCE_HOSTNAME=blog-service
            - TZ=${ENV_TZ}
        depends_on:
            mongodb:
                condition: service_healthy
            service-discovery:
                condition: service_healthy
        restart: unless-stopped

volumes:
    mysql_data:
    mongodb_data:
