# Bỏ qua node_modules của tất cả service
**/node_modules
**/npm-debug.log*
**/yarn-debug.log*
**/.env
**/dist
**/build
**/target
.git
**/.git
**/.gitignore

# --- Bỏ qua các file tài liệu và cấu hình trong TẤT CẢ module ---
**/Dockerfile
**/docker-compose.yml
**/README.md
**/LICENSE