node_modules/
jspm_packages/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*
!.env.example

dist/
build/
out/
coverage/
.tmp/
.cache/

.vscode/
.idea/
*.sublime-workspace
*.sublime-project

.DS_Store
Thumbs.db

.pids
*.pid
*.seed
*.pid.lock

*.log
*.bak
*.swp
